<h1>{{title}}</h1>
<span>Hola mundo</span>
<form>
  <label>Valor 1: <input type="number" [(ngModel)]="valor1" name="valor1"></label>
  <br>
  <label>Valor 2: <input type="number" [(ngModel)]="valor2" name="valor2"></label>
  <br>
  <br>
  <button (click)="operar('suma')">Suma</button>
  <button (click)="operar('resta')">Resta</button>
  <button (click)="operar('multiplicacion')">Multiplicación</button>
  <button (click)="operar('division')">División</button>
  <br>
  <br>
  <label>Resultado: {{resultado}}</label>
</form>
